<template>
  <v-form @submit.prevent="searchJobPosting()">
    <ShowJobDetail :dialog.sync="showJobDialog" :job-id.sync="jobId" @dialogChange="changedShowJobDialog" />
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            id="search_text"
            v-model="searchText"
            label="Job Name"
            required
            @keyup.enter="searchJobPosting"
          />
        </v-col>
        <v-col
          col="6"
          md="2"
        >
          <v-btn id="search_button" @click="searchJobPosting()">
            Search Job
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-simple-table>
            <template #default>
              <thead>
                <tr>
                  <th class="text-left">
                    Name
                  </th>
                  <th class="text-left">
                    Lower Bound Age
                  </th>
                  <th class="text-left">
                    Upper Bound Age
                  </th>
                  <th class="text-left">
                    Gender
                  </th>
                  <th class="text-left">
                    Experience
                  </th>
                  <th class="text-left">
                    CompanyId
                  </th>
                  <th class="text-left">
                    Operation
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in jobDataTable"
                  :key="item._id"
                >
                  <td :id="'name_'+ item._id">
                    {{ item.name }}
                  </td>
                  <td :id="'lower_bound_age_'+item._id">
                    {{ item.lowerBoundAge }}
                  </td>
                  <td :id="'upper_bound_age_'+item._id">
                    {{ item.upperBoundAge }}
                  </td>
                  <td :id="'gender_'+item._id">
                    {{ item.gender }}
                  </td>
                  <td :id="'experience_'+item._id">
                    {{ item.experience }}
                  </td>
                  <td :id="'company_id_'+item._id">
                    {{ item.companyId }}
                  </td>
                  <td>
                    <v-btn :id="'show_detail_'+item._id" @click="showDetail(item._id)">
                      Show Detail
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import ShowJobDetail from '~/components/ShowJobDetail'
import { searchTextJobPosting } from '~/services'
export default {
  components: {
    ShowJobDetail
  },
  data () {
    return {
      jobId: 0,
      showJobDialog: false,
      searchText: '',
      jobDataTable: []
    }
  },
  methods: {
    async searchJobPosting () {
      try {
        const result = await searchTextJobPosting(this.searchText)
        this.jobDataTable = result
      } catch (err) {

      }
    },
    showDetail (jobId) {
      this.jobId = jobId
      this.showJobDialog = true
    },
    changedShowJobDialog (value) {
      this.showJobDialog = value
    }
  }
}
</script>

<style>

</style>
